.window {
	background-color: #181313;
	color: white;
}

.dialogBox {
	padding: 10px 10px 10px 10px;
}

.userEntry {
	margin: 5px 5px 5px 5px;
}

.topGrid {
	padding: 10px 0px 0px 0px;
}

.leftBox {
	padding: 0px 10px 0px 10px;
}

.albumCover {
	border: white;
	border-style: solid;
	border-width: 0.3px;
}

.albumName {
  margin: 5px 0px 5px 0px;
}
.rightBox {
	padding: 0px 10px 0px 0px;
}

.bottomGrid {
	margin: 3px 5px 5px 5px;
	padding: 3px 5px 0px 5px;
}

.button {
  background-image: none;
	background-color: #181313;
	color: white;
  margin: 5px 5px 5px 5px;
	border: white;
	border-style: solid;
	border-width: .5px;
}
